<div
    class="mt-auto sm:hidden bg-white h-16 flex justify-between items-center px-5 text-xs text-gray-600 font-semibold fixed bottom-0 left-0 right-0">
    <a href="/" class="flex py-4 px-4 space-y-1 items-center flex-col {% if request.endpoint == 'user.index' %}text-primary{% endif %}">
        <i class="fa fa-home text-sm"></i>
        <span>Home</span>
    </a>

    <a href="/messages" class="relative flex py-4 px-4 space-y-1 items-center hover:text-primary flex-col {% if request.endpoint == 'user.messages' %}text-primary{% endif %}">
        <i class="fa fa-envelope text-sm"></i>
        <span>Messages</span>
        {% if new_chat() %} 
        <div class="w-4 h-4 bg-green-500 absolute rounded-full right-3 top-0"></div>
        {% endif %}
    </a>
    {% if current_user.is_authenticated and current_user.has_role('provider') %}
    <a href="/reviews" class="relative flex py-4 px-4 space-y-1 items-center hover:text-primary flex-col {% if request.endpoint == 'user.reviews' %}text-primary{% endif %}">
        <i class="fa fa-magnifying-glass text-sm"></i>
        <span>Reviews</span>
    </a>
    {% endif %}
    <a href="/profile" class="flex py-4 px-4 space-y-1 items-center hover:text-primary flex-col {% if request.endpoint == 'user.profile' %}text-primary{% endif %}">
        <i class="fa fa-user text-sm"></i>
        <span>Profile</span>
    </a>
</div>
