<div class="mt-4 flex flex-wrap">
    {% for provider in providers %}
    <div class="py-2 px-5 max-w-md">
        <div class="bg-sky-50 rounded-xl flex py-5 px-3 space-x-3 items-center">
            <div class="">
                <img src="{{provider.user.image_url}}" alt="" class="rounded-full">
            </div>
            <div class="tracking-normal">
                <h1 class="text-gray-700 mb-1 font-medium text-lg tracking-normal">{{provider.user.firstname}} {{provider.user.lastname}}</h1>
                <div class="text-gray-600 flex space-x-1">
                    <div class="text-blue-800">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                            fill="currentColor" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" class="feather feather-star">
                            <polygon
                                points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                            </polygon>
                        </svg>
                    </div>

                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" class="feather feather-star">
                        <polygon
                            points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                        </polygon>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" class="feather feather-star">
                        <polygon
                            points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                        </polygon>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" class="feather feather-star">
                        <polygon
                            points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                        </polygon>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                        fill="none" fill="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" class="feather feather-star">
                        <polygon
                            points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                        </polygon>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                        fill="none" fill="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" class="feather feather-star">
                        <polygon
                            points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                        </polygon>
                    </svg>
                </div>
                <div>
                    <p class="text-sm tracking-wide mt-2 text-gray-600">
                        {{provider.about}}
                    </p>
                </div>
                <div class="flex justify-center space-x-2">
                    <button
                        class="w-full border border-blue-900 text-blue-900 text-sm py-2 px-2 mt-4  rounded-md  space-x-2 tracking-normal flex items-center justify-center">
                        <i class="fa fa-envelope text-lg"></i><span class="">Chat</span>
                    </button>
                    <button
                        class="w-full bg-blue-900 text-white text-sm py-2 px-2 mt-4 rounded-md  space-x-2 tracking-normal flex items-center justify-center">
                        <i data-feather="info"></i><span class="">More..</span>
                    </button>

                </div>

            </div>
        </div>
    </div>
    {% endfor %}

</div>