{% import "macros.html" as macros with context %}
<!DOCTYPE html>
<html class="" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block metas %}
    {% endblock %}
    <meta name="description" content="">
    <meta property="og:title" content="">
    <meta property="og:url" content="{{url_for('user.index', _external=True)}}" />
    <meta property="og:image" content="{{url_for('static', filename='logo.png', _external=True)}}" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="">
    <link rel="shortcut icon" href="{{url_for('static', filename='logo.ico')}}" type="image/ico">

    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;400;500;700;800;900&display=swap"
        rel="stylesheet">
    {% set title = title|default(config['APP_NAME']) %}
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
        integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
        crossorigin="anonymous" />
    <script defer src="https://unpkg.com/alpinejs@3.7.1/dist/cdn.min.js"></script>

    <link rel="stylesheet" href="{{static_url_for('static', filename='style.css')}}" />

    <script src="{{static_url_for('static', filename='main.js') }}" {% if track %}data-turbo-track="reload" {% endif
        %}></script>
    {{moment.include_jquery()}}
    {{moment.include_moment()}}
</head>

<body class="bg-gray-900">
    <style>
        [x-cloak] {
            display: none !important;
        }

        html {
            font-family: 'Lexend', sans-serif;
            min-height: 100%;
            height: 100%;
        }

        html,
        body {
            min-height: 100%;
            height: 100%;
            font-size: 16px;
        }
    </style>
    {% block body %}
    {% endblock %}
    <script>
        feather.replace()
    </script>
</body>

</html>