{% extends "base.html" %}

{% block body %}
<div class="h-full flex">
    <aside class="h-full bg-white hidden sm:block w-56 text-gray-500 font-medium py-4 tracking-normal">
        <a href="" class="flex py-4 px-4 space-x-3 items-center text-primary">
            <i class="fa fa-home text-sm"></i>
            <span>Home</span>
        </a>

        <a href="/messages" class="flex py-4 px-4 space-x-3 items-center hover:text-primary">
            <i class="fa fa-envelope text-sm"></i>
            <span>Messages</span>

        </a>
        <a href="/profile" class="flex py-4 px-4 space-x-3 items-center hover:text-primary">
            <i class="fa fa-user text-sm"></i>
            <span>Profile</span>
        </a>
    </aside>
    <div class="h-full flex-col flex w-full max-h-full">
        {% include "includes/header.html" %}
        {% if current_user.is_authenticated and current_user.has_role('provider') %}
        <div class="h-full overflow-y-auto px-6 py-6 sm:flex mx-auto w-full sm:space-x-4 sm:h-36">
            <div class="mt-4 w-full max-w-sm rounded-lg px-4 py-6 flex bg-sky-50 shadow-md">
                <div class="w-10 min-h-full flex items-center justify-center">
                    <i class="fa fa-traffic-light text-primary"></i>
                </div>
                <div>
                    <h1 class="text-xs font-semibold text-gray-600">Profile Visits</h1>
                    <p class="font-semibold text-blue-700 text-xl">{{provider.profile_views | money}}</p>
                </div>
            </div>
            <div class="mt-4 w-full max-w-sm rounded-lg px-4 py-6 flex bg-sky-50 shadow-md">
                <div class="w-10 min-h-full flex items-center justify-center">
                    <i class="fa fa-star text-primary"></i>
                </div>
                <div>
                    <h1 class="text-xs font-semibold text-gray-600">Rating</h1>
                    <p class="font-semibold text-blue-700 text-xl">{{provider.rating | money}}</p>
                </div>
            </div>


            <div class="mt-4 w-full max-w-sm rounded-lg px-4 py-6 flex bg-sky-50 shadow-md">
                <div class="w-10 min-h-full flex items-center justify-center">
                    <i class="fa fa-magnifying-glass text-primary"></i>
                </div>
                <div>
                    <h1 class="text-xs font-semibold text-gray-600">Reviews</h1>
                    <p class="font-semibold text-blue-700 text-xl">{{provider.reviews.count() | money}}</p>
                </div>
            </div>
        </div>

        {% else %}
        <div class="h-full overflow-y-auto py-6">
            <div class="break-words text-gray-800 sm:text-center  px-5">
                <h1 class="text-lg text-center sm:text-2xl font-semibold text-gray-600 capitalize">Find a suitable
                    service
                    provider</h1>
            </div>
            <div class="max-w-lg mx-auto mt-6 w-full px-3 relative" x-data="{showService: false, showLocation: false}">
                <form action="">
                    <div class="bg-white absolute rounded-lg px-4 py-4 top-10 shadow-md" x-show="showService" x-cloak
                        @click.away="showService=false">
                        <p class="text-blue-700 text-sm text-center mb-3 font-semibold">Select The Services You Need</p>
                        {% for service in services %}
                        <div class="flex space-x-2 items-center mb-2">
                            <input type="checkbox" name="services" id="{{service.name}}" value="{{service.name}}"
                                class="rounded-sm text-blue-800 focus:ring-0" {% if service.name in selected_services
                                %}checked{% endif %}>
                            <span class="text-gray-500 font-semibold text-sm">{{service.name}}</span>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="bg-white absolute rounded-lg px-4 py-4 top-10 right-3 shadow-md" x-show="showLocation"
                        x-cloak @click.away="showLocation=false">
                        <p class="text-blue-700 text-sm text-center mb-3 font-semibold">Select Your Location</p>
                        {% for location in locations %}
                        <div class="flex space-x-2 items-center mb-2">
                            <input type="radio" name="location" id="{{location}}" value="{{location}}" {% if
                                location==selected_location %}checked{% endif %}
                                class="rounded-full text-blue-800 focus:ring-0">
                            <span class="text-gray-500 font-semibold text-sm">{{location}}</span>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="flex w-full space-x-2">
                        <div class="h-16 flex items-center px-4 rounded-lg space-x-2 w-full"
                            style="background-color: #e4e4f4;" @click="showService=!showService">
                            <div class="py-2 px-3 rounded-full" style="background-color: #cfd0f0;">
                                <i class="fa fa-university text-sm text-primary"></i>
                            </div>
                            <input type="text" name="" id=""
                                class="bg-transparent border-0 outline-none ring-0 focus:ring-0 focus:outline-none w-full text-gray-800 font-semibold text-sm"
                                placeholder="Services" readonly>

                        </div>
                        <div class="h-16 flex items-center px-4 rounded-lg space-x-2 w-full"
                            style="background-color: #e4e4f4;" @click="showLocation=!showLocation">
                            <div class="py-2 px-3 rounded-full" style="background-color: #cfd0f0;">
                                <i class="fa fa-address-book text-sm text-primary"></i>
                            </div>
                            <input type="text" name="" id=""
                                class="bg-transparent border-0 outline-none ring-0 focus:ring-0 focus:outline-none w-full text-gray-800 font-medium text-sm"
                                placeholder="Location" readonly>

                        </div>
                    </div>
                    <div class="w-full mt-4">
                        <button class="h-12 shadow-sm text-white block text-sm tracking-wide bg-blue-700
                        items-center justify-center rounded-lg font-semibold
                        focus:ring-4 focus:outline-none outline-none focus:ring-opacity-50 px-4 w-full"
                            type="submit">Search</button>
                    </div>
                </form>

            </div>
            <div class="flex justify-between mt-6 items-center text-gray-600 max-w-3xl mx-auto  px-5 flex-wrap">
                {% if searched %}
                <h1 class="font-semibold">Search Results</h1>
                {% else %}
                {% if form_used %}
                <p class="text-lg mb-2 text-center w-full">No search results found!!</p>
                {% endif %}
                <h1 class="font-semibold">Top Rated Providers</h1>
                <!-- <a href="" class="font-bold text-primary text-xxs">SHOW ALL</a> -->
                {% endif %}
            </div>
            <div class="mt-6">
                {% for provider in providers %}
                <a class="px-5 py-5 border-b border-gray-300 flex w-full"
                    href="{{url_for('.provider', id=provider.id)}}">
                    <img src="{{provider.user.image_url}}" alt="" class="rounded-full w-16 h-16">
                    <div class="ml-4 flex flex-col justify-center text-gray-700 space-y-1">
                        <p class="font-semibold">{{provider.user.first_name}} {{provider.user.last_name}}</p>
                        <p class="text-xs font-medium">{{provider.services_to_str}}</p>
                        <div class="text-gray-300 w-auto">
                            {% set rating = provider.rating or 1 %}
                            <i class="fa fa-star {% if rating >= 1 %}text-primary {% endif %}"></i>
                            <i class="fa fa-star {% if rating >= 2 %}text-primary {% endif %}"></i>
                            <i class="fa fa-star {% if rating >= 3 %}text-primary {% endif %}"></i>
                            <i class="fa fa-star {% if rating >= 4 %}text-primary {% endif %}"></i>
                            <i class="fa fa-star {% if rating >= 5 %}text-primary {% endif %}"></i>
                        </div>
                    </div>
                    <div class="flex text-gray-700 space-x-1 text-xxs ml-auto items-center">
                        <i class="fa fa-location text-primary"></i>
                        <p class="font-medium">{{provider.lga}}, {{provider.state}}</p>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% include "includes/footer.html" %}
    </div>
</div>
{% endblock %}