{% extends "base.html" %}

{% block body %}
<div class="h-full flex">
    <aside class="h-full bg-white hidden sm:block w-56 text-gray-500 font-medium py-4 tracking-normal">
        <a href="" class="flex py-4 px-4 space-x-3 items-center text-primary">
            <i class="fa fa-home text-sm"></i>
            <span>Home</span>
        </a>
        <a href="" class="flex py-4 px-4 space-x-3 items-center hover:text-primary">
            <i class="fa fa-briefcase text-sm"></i>
            <span>Services</span>

        </a>
        <a href="" class="flex py-4 px-4 space-x-3 items-center hover:text-primary">
            <i class="fa fa-envelope text-sm"></i>
            <span>Messages</span>

        </a>
        <a href="" class="flex py-4 px-4 space-x-3 items-center hover:text-primary">
            <i class="fa fa-user text-sm"></i>
            <span>Profile</span>
        </a>
    </aside>
    <div class="h-full flex-col flex w-full max-h-full">
        {% include "includes/header.html" %}
        <div class="h-full overflow-y-auto py-6">
            <div class="break-words text-gray-800 sm:text-center  px-5">
                <h1 class="text-lg text-center sm:text-2xl font-medium text-gray-700 capitalize">Find a suitable service provider</h1>
            </div>
            <div class="max-w-lg mx-auto mt-6 w-full px-5">
                <div class="h-16 flex items-center px-4 rounded-lg space-x-2 w-full" style="background-color: #e4e4f4;">
                    <input type="text" name="" id=""
                        class="bg-transparent border-0 outline-none ring-0 focus:ring-0 focus:outline-none w-full text-gray-800 font-medium text-sm"
                        placeholder="What service do you need?">
                    <div class="py-2 px-3 rounded-full" style="background-color: #cfd0f0;">
                        <i class="fa fa-search text-sm text-primary"></i>
                    </div>
                </div>
            </div>
            <div class="flex justify-between mt-10 items-center text-gray-700 max-w-3xl mx-auto  px-5">
                <h1 class="font-semibold">Top Rated Providers</h1>
                <a href="" class="font-bold text-primary text-xxs">SHOW ALL</a>
            </div>
            <div class="mt-8">
                {% for provider in providers %}
                <div class="px-5 py-5 border-b border-gray-300 flex w-full">
                    <img src="{{provider.user.image_url}}" alt="" class="rounded-full w-16 h-16">
                    <div class="ml-4 flex flex-col justify-center text-gray-700 space-y-1">
                        <p class="font-semibold">{{provider.user.firstname}} {{provider.user.lastname}}</p>
                        <p class="text-xs font-medium">{{provider.services_to_str}}</p>
                        <div class="text-gray-700 w-auto">
                            <i class="fa fa-star text-primary"></i>
                            <i class="fa fa-star text-gray-300"></i>
                            <i class="fa fa-star text-gray-300"></i>
                            <i class="fa fa-star text-gray-300"></i>
                            <i class="fa fa-star text-gray-300"></i>
                        </div>
                    </div>
                    <div class="flex text-gray-700 space-x-1 text-xxs ml-auto items-center">
                        <i class="fa fa-location text-primary"></i>
                        <p class="font-medium">{{provider.lga}}, {{provider.state}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>


        <div class="mt-auto sm:hidden bg-white h-16 flex justify-between items-center px-5 text-xxs text-gray-600 font-semibold">
            <a href="" class="flex py-4 px-4 space-y-1 items-center text-primary flex-col">
                <i class="fa fa-home text-xs"></i>
                <span>Home</span>
            </a>
            <a href="" class="flex py-4 px-4 space-y-1 items-center hover:text-primary flex-col">
                <i class="fa fa-briefcase text-xs"></i>
                <span>Services</span>

            </a>
            <a href="" class="flex py-4 px-4 space-y-1 items-center hover:text-primary flex-col">
                <i class="fa fa-envelope text-xs"></i>
                <span>Messages</span>

            </a>
            <a href="" class="flex py-4 px-4 space-y-1 items-center hover:text-primary flex-col">
                <i class="fa fa-user text-xs"></i>
                <span>Users</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}