{% extends "base.html" %}

{% block body %}
<div class="">
    <header class="bg-white border-b">
        <nav class="flex items-center max-w-6xl h-20 justify-between px-6 mx-auto">
            <a href="/" class="text-blue-900 font-bold text-xl tracking-wider">Homejobs</a>
            <a class="w-12 h-12 rounded-full text-white bg-blue-900 flex justify-center items-center" href="/profile">
                <i data-feather="user"></i>
            </a>
        </nav>
    </header>
    <div class="px-6 max-w-md mx-auto py-8">
        <h1 class="text-2xl text-center text-gray-700 font-medium">Sign In</h1>
        {{macros.render_form(form)}}
        <div class="flex justify-end py-4">
            <a href="/forgot_password" class="text-gray-600 tracking-wide underline text-sm medium">Forgot Password?</a>
        </div>
        <div class="bottom-0 absolute flex justify-center py-4 right-0 left-0 text-center text-gray-600 tracking-wide font-medium">
            
            <p>Or you could <a href="/signup" class="text-blue-800 tracking-wide underline font-semibold">Create An Account</a> instead?</p>
        </div>

    </div>
</div>
{% endblock %}