{% extends "base.html" %}

{% block body %}
<div class="h-full flex flex-col">
    {% include "includes/header.html" %}
    <div class="px-6 w-full max-w-md mx-auto py-12 flex-grow flex flex-col">
        <h1 class="text-xl text-center text-gray-700">Sign In</h1>
        {{macros.render_form(form, with_errors=False)}}
        <div class="flex justify-end py-4">
            <a href="/forgot_password" class="text-gray-700 underline text-sm">Forgot Password?</a>
        </div>
        <div class="flex justify-center py-4 right-0 left-0 text-center text-gray-700 text-sm mt-auto">
            
            <p>Don't Have An Account? <a href="/signup" class="text-blue-800 underline font-medium">Create An Account</a></p>
        </div>

    </div>
</div>
{% endblock %}