{% extends "base.html" %}

{% block body %}
<div class="">
    <header class="bg-white border-b">
        <nav class="flex items-center max-w-6xl h-20 justify-between px-6 mx-auto">
            <a href="/" class="text-blue-900 font-medium text-xl">homejobs</a>
            <a class="w-12 h-12 rounded-full text-white bg-blue-900 flex justify-center items-center" href="/profile">
                <i data-feather="user"></i>
            </a>
        </nav>
    </header>
    <div class="px-6 max-w-md mx-auto py-12">
        <h1 class="text-xl text-center text-gray-600">Create Account</h1>
        {{macros.render_form(form)}}
        <div
            class="bottom-0 absolute flex justify-center py-4 right-0 left-0 text-center text-gray-700 text-sm">

            <p>Or you could <a href="/login" class="text-blue-800 underline">Sign In</a>
                instead?</p>
        </div>

    </div>
</div>
{% endblock %}