{% extends "base.html" %}

{% block body %}
<div class="h-full flex flex-col">
    {% include "includes/header.html" %}
    <div class="px-6 w-full max-w-md mx-auto py-12 flex-grow flex flex-col">
        <h1 class="text-xl text-center text-gray-700">Create Account</h1>
        {{macros.render_form(form)}}
        <div class="flex justify-center py-4 right-0 left-0 text-center text-gray-700 text-sm mt-auto">

            <p>Already Have An Account? <a href="/login" class="text-blue-800 underline">Sign In</a>
            </p>
        </div>

    </div>
</div>
{% endblock %}